<div id="header">
  <h2 id="headerText">MagusXIX</h2>
</div>

<div id="can">

  <div id="navCan">

    <div id="home" class="navCanButton">
      <div class="navIconCan">
        <img src="/img/home.png"></img>
      </div>
      <p>Home</p>
    </div>
    <div id="projects" class="navCanButton">
      <div class="navIconCan">
        <img src="/img/cog.png"></img>
      </div>
      <p>Projects</p>
    </div>
    <div id="playground" class="navCanButton">
      <div class="navIconCan">
        <img src="/img/tools.png"></img>
      </div>
      <p>Playground</p>
    </div>

  </div> <!-- end of navcan -->

  <div id="contentCan">

    <div class="wideBar"></div>

    <div class="contentWide">

      <div id="incorrectLogIn">Your attempt to log in failed.  Your username or password were likely incorrect.  Please try again.</div>
      
      <div id="logInFormCan">

        <form id="logInForm" class="userForm" action="/log_in_attempt" method="post">

          <div id="logInUserNameCan" class="userFormNameCan">
            Username: <input id="logInUserNameInput" type="text" name="userName"></input>
          </div>
          <div id="logInPasswordCan" class="userFormPasswordCan">
            Password: <input id="logInPasswordInput" type="password" name="password"></input>
          </div>
          <div id="logInSubmitCan" class="userSubmitCan">
            <input id="logInSubmit" class="userSubmit" type="submit" value="Log In"></input>
          </div>

        </form>

      </div>

    </div>

  </div>

  <div class="clear"></div>

</div>

<%- scriptLink('/js/controllers/main.js', {type: 'text/javascript'}) %>