<div id="mainChatCan">

  <div id="sentMessages">
  </div>

  <div id="messageFormCan">
    <form id="messageForm" name="messageForm">
      <input id="messageFormInput" type="text" name="messageInput">
      <input id="messageFormSubmit" type="submit" value="Submit">
    </form>
  </div>

</div>

<div id="userListCan">

</div>

<%- scriptLink('/chatBundle.js', {type: 'text/javascript'}) %>