<div id="header">
  <h2 id="headerText">MagusXIX</h2>
</div>

<div id="mainChatCan">

  <div class="coloredBar"></div>

  <div id="sentMessages">
  </div>

  <div id="messageFormCan">
    <form id="messageForm" name="messageForm">
      <input id="messageFormInput" type="text" name="messageInput">
      <input id="messageFormSubmit" type="submit" value="Send">
    </form>
  </div>

</div>

<div id="utilityCan">

  <div class="coloredBar"></div>

  <div id="utilityNavCan">

    <div id="userNavButton">Users</div>
    <div id="diceNavButton" class="utilityNavButtonBorder">Dice</div>
    <div id="utilityNavCanFiller"></div>
    <div class="clear"></div>

  </div>

  <div id="userListCan">
  </div>

  <div id="diceRollerCan">

    <div id="rolledDice"></div>

    <div id="diceFormCan">
      <form id="diceForm" name="diceForm">
        <div class="formSpreader">
          Action: <input id="actionInput" type="text" name="actionInput">
        </div>
        <div class="formSpreader">
          Number of dice to roll: <input id="diceNumber" type="text" name="diceNumber">
        </div>
        <div class="formSpreader">
          Number of sides per die: <input id="diceSides" type="text" name="diceSides">
        </div>
        <div class="formSpreader">
          <input id="diceFormSubmit" type="submit" value="Roll the Dice!">
        </div>
      </form>
    </div>

  </div>

</div>

<%- scriptLink('/chatBundle.js', {type: 'text/javascript'}) %>