<div id="header">
  <h2 id="headerText">MagusXIX</h2>
</div>

<div id="can">

  <div id="navCan">

    <div id="home" class="navCanButton">
      <div class="navIconCan">
        <img src="/img/home.png"></img>
      </div>
      <p>Home</p>
    </div>
    <div id="projects" class="navCanButton">
      <div class="navIconCan">
        <img src="/img/cog.png"></img>
      </div>
      <p>Projects</p>
    </div>
    <div id="playground" class="navCanButton">
      <div class="navIconCan">
        <img src="/img/tools.png"></img>
      </div>
      <p>Playground</p>
    </div>

  </div> <!-- end of navcan -->

  <div id="contentCan">

    <div class="wideBar"></div>

    <div class="contentWide">
      <img id="contactPortrait" src="./img/portrait.png"></img>
      <h3 id="contactTitle">Michael Winniford</h3>
      <p class="contactText">I'm a web developer, proficient in HTML, CSS, JavaScript, WebGL and the like.  I'm also a combat veteran, formerly of the United States Marine Corps.  More important than that, I'm always learning, always trying to expand my horizons.  My interests are varied, but my focus is on web development, game development, and building simulations.</p>
      <p class="contactText">You can contact me in the following places.</p>
      <img id="contactButtonLeft" src="./img/gmail.png"></img>
      <a href="http://www.twitter.com/magusxix" target="_blank">
        <img id="contactButtonMiddle" src="./img/twitter.png"></img>
      </a>
      <a href="http://www.linkedin.com/pub/michael-winniford/86/8b3/a4a" target="_blank">
        <img id="contactButtonRight" src="./img/linkedin.png"></img>
      </a>
      <p class="contactButtonLabel">magusxix@gmail.com</p>
      <a href="http://www.twitter.com/magusxix" class="contactButtonLabel">Twitter</a>
      <a href="http://www.linkedin.com/pub/michael-winniford/86/8b3/a4a" class="contactButtonLabel">LinkedIn</a>
      <div class="clear"></div>
    </div>

  </div>

  <div class="clear"></div>

</div>

<%- scriptLink('/js/controllers/main.js', {type: 'text/javascript'}) %>