* {
  box-sizing: border-box;
}

html {

}

body {
  padding: 0px;
  border: 0px;
  margin: 0px;
  background-image: url('../img/DowntownSF.png');
  background-size: 100% 100%;
  background-attachment: fixed;
}

.clear {
  clear: both;
}

.reset {
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: none;
  height: 100%;
  width: 100%;
}

#reset {
  overflow: hidden;
}

#container {

}

#header {
  background-color: #505050;
  margin: 0px auto 0px auto;
  width: 100%;
}

#headerText {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: #CCCCCC;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

#can {
  margin: 50px auto 0px auto;
  width: 1024px;
  position: relative;
}


/*NAVIGATION CONTAINER*/
#navCan {
  width: 150px;
  float: left;
}

.navCanButton {
  position: relative;
  background-color: rgba(40, 40, 40, 0.5);
  height: 30px;
  cursor: pointer;
}

.navIconCan {
  position: relative;
  background-color: rgba(40, 40, 40, 0.75);
  height: 100%;
  width: 30px;
}

.navCanButton img {
  position: absolute;
  margin: 5px 0px 0px 5px;
}

.navCanButton p {
  font-family: Helvetica, Arial, sans-serrif;
  color: white;
  position: absolute;
  top: 6px;
  left: 35px;
  margin: 0px;
}


/*HOME CONTENT*/

#contentCan {
  width: 800px;
  float: right;
}

.wideBar {
  background-color: purple;
  width: 800px;
  height: 10px;
}

.coloredBar {
  background-color: purple;
  width: 100%;
  height: 10px;
}

.contentWide {
  background-color: white;
  width: 800px;
  padding: 20px;
}

.contentWide h3 {
  margin: 0px;
}

.contentWide a {
  text-decoration: none;
}

.projectImage {
  float: left;
  padding-right: 20px;
}

#contactPortrait {
  padding-right: 20px;
  float: left;
}

#contactTitle {

}

.contactText {

}

#contactButtonLeft {
  margin: 20px 20px 0px 60px;
}

#contactButtonMiddle {
  margin: 20px 20px 0px 80px;
}

#contactButtonRight {
  margin: 20px 20px 0px 38px;
}

.contactButtonLabel {
  margin: 0px 30px 0px 30px;
  float: left;
}

#chatHeader {
  text-align: center;
}

#chatSignUp {
  width: 100px;
  height: 50px;
  background-color: purple;
  color: white;
  text-align: center;
  line-height: 45px;
  float: left;
  margin-left: 200px;
  border-radius: 4px;
  cursor: pointer;
}

#chatLogIn {
  width: 100px;
  height: 50px;
  background-color: purple;
  color: white;
  text-align: center;
  line-height: 45px;
  float: right;
  margin-right: 200px;
  border-radius: 4px;
  cursor: pointer;
}

.userFormCan {

}

.userFormNameCan {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.userFormPasswordCan {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.userSubmitCan {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}

.userSubmit {
  width: 60px;
  height: 26px;
  background: none;
  border: 1px solid black;
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  vertical-align: middle;
  cursor: pointer;
}

#incorrectSignUp {
  color: red;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

#incorrectLogIn{
  color: red;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

#mainChatCan {
  width: 70%;
  background-color: white;
  margin: auto;
  position: absolute;
  top: 40px;
  left: 40px;
  bottom: 40px;
}

#messageFormCan {
  width: 98%;
  height: 20px;
  position: absolute;
  bottom: 0;
  margin: 10px;
}

#messageFormInput {
  width: 93%;
  height: 20px;
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
}

#messageFormSubmit {
  width: 6%;
  height: 20px;
  float: right;
  background: none;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  cursor: pointer;
}

#sentMessages {
  height: 90%;
  overflow: auto;
}

.sentMessage {
  border-bottom: 1px solid black;
  padding-left: 10px;
}

.sentMessageUserName {
  border-right: 1px solid black;
  width: 10%;
  height: 100%;
  margin-right: 10px;
  float: left;
}

.sentMessageText {
  margin: 0px;
  width: 89%;
  float: right;
}

#userListCan {
  width: 22%;
  min-height: 420px;
  height: 60%;
  background-color: white;
  position: absolute;
  margin: auto;
  top: 40px;
  right: 40px;
  overflow: auto;
}

#userListHeader {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.connectedUser {
  text-align: center;
  border-bottom: 1px solid black;
}

#diceRollerCan {
  width: 22%;
  background-color: white;
  position: absolute;
  margin: auto;
  bottom: 40px;
  right: 40px;
}

#diceFormCan {
  padding: 10px;
}

#diceFormCan input {
  float: right;
}

#actionInput {
  width: 70%;
}

#diceNumber {
  width: 6%;
}

#diceSides {
  width: 6%;
}

.formSpreader {
  margin-bottom: 10px;
}

#diceFormSubmit {
  background: none;
  border: 1px solid black;
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px;
}